* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: fit-content;
  /* background-color: black; */
  padding: 3vw;
}

.card-containers {
  width: 100%;
  background-color: rgb(201, 201, 201);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}



.box button {
  background-color: blue;
}
.box h1 {
  margin-bottom: 3px;
}

.item1 {
    background-color: purple;
    grid-column: span 3;
}
.item2 {
    background-color: green;
    grid-column: span 2;
}
.item3 {
    background-color: yellow;
    grid-row: span 2;
}
.item4 {
    background-color: red;
    grid-column: span 2;
}
.item5 {
    background-color: lightblue;
    grid-column: span 3;
}



